<div id="<%= dom_id subscription %>">
  <p>
    <strong>Amount:</strong>
    <%= subscription.amount %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= subscription.start_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= subscription.status %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= subscription.contract_id %>
  </p>

</div>
